<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      [formControl]="emailFormControl"
      [errorStateMatcher]="matcher"
      placeholder="Ex. pat@example.com"
    />
    <mat-error
      *ngIf="
        emailFormControl.hasError('email') &&
        !emailFormControl.hasError('required')
      "
    >
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <!-- Nome Curto -->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nome Curto</mat-label>
    <input
      type="text"
      matInput
      maxlength="20"
      [formControl]="shortNameFormControl"
      [errorStateMatcher]="matcher"
      placeholder="Ex. Roteador"
    />
    <mat-error
      *ngIf="
        emailFormControl.hasError('required') &&
        emailFormControl.hasError('maxLength') &&
        emailFormControl.hasError('minLength')
      "
    >
      Insira de 3 a 20 caracteres
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Nome é <strong>obrigátorio</strong>
    </mat-error>
  </mat-form-field>

  <!-- Nome-->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nome</mat-label>
    <input
      type="text"
      matInput
      maxlength="20"
      [formControl]="nameFormControl"
      [errorStateMatcher]="matcher"
      placeholder="Ex. Roteador"
    />
    <mat-error *ngIf="emailFormControl.errors">
      Nome é <strong>obrigátorio</strong>, Insira de 3 a 20 caracteres
    </mat-error>
  </mat-form-field>

  <!-- Preço-->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Preço</mat-label>
    <input
      type="number"
      lang="pt-br"
      matInput
      [formControl]="priceFormControl"
      [errorStateMatcher]="matcher"
      placeholder="Ex. R$ 10,00"
    />
    <mat-error *ngIf="emailFormControl.errors">
      Preço é <strong>obrigátorio</strong>, Insira de 0,01 a 9999,99 caracteres
    </mat-error>
  </mat-form-field>

  <!-- Preço Mercado-->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Preço de mercado</mat-label>
    <input
      type="number"
      lang="pt-br"
      matInput
      [formControl]="priceMarketFormControl"
      [errorStateMatcher]="matcher"
      placeholder="Ex. R$ 10,00"
    />
    <mat-error *ngIf="emailFormControl.errors">
      Insira de 0,01 a 9999,99 caracteres
    </mat-error>
  </mat-form-field>

  <!-- Quantidade -->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Quantidade</mat-label>
    <input
      type="number"
      lang="pt-br"
      matInput
      [formControl]="quantityFormControl"
      [errorStateMatcher]="matcher"
      placeholder="Ex. 10"
    />
    <mat-error *ngIf="emailFormControl.errors">
      Quantidade é <strong>obrigátorio</strong>, Insira de 1 a 9999 caracteres
    </mat-error>
  </mat-form-field>

  <!-- Quantidade -->

  <mat-label>Quantidade</mat-label>
  <input type="file" lang="pt-br" placeholder="Ex. 10" />
</form>

<div class="back-button-container">
  <button mat-fab color="primary" (click)="goBack()" aria-label="add button">
    <mat-icon>clear</mat-icon>
  </button>
</div>
