<form class="example-form">
  <!-- Nome Curto -->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nome Curto</mat-label>
    <input
      type="text"
      matInput
      maxlength="20"
      [formControl]="shortNameFormControl"
      [errorStateMatcher]="matcher"
      placeholder="Ex. Roteador"
    />
    <mat-error
      *ngIf="
        shortNameFormControl.hasError('required') &&
        shortNameFormControl.hasError('maxLength') &&
        shortNameFormControl.hasError('minLength')
      "
    >
      Insira de 3 a 20 caracteres
    </mat-error>
    <mat-error *ngIf="shortNameFormControl.hasError('required')">
      Nome é <strong>obrigátorio</strong>
    </mat-error>
  </mat-form-field>

  <!-- Nome-->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nome</mat-label>
    <input
      type="text"
      matInput
      maxlength="20"
      [formControl]="nameFormControl"
      [errorStateMatcher]="matcher"
      placeholder="Ex. Roteador Wireless"
    />
    <mat-error *ngIf="nameFormControl.errors">
      Nome é <strong>obrigátorio</strong>, Insira de 3 a 20 caracteres
    </mat-error>
  </mat-form-field>

  <!-- Preço-->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Preço</mat-label>
    <input
      type="number"
      lang="pt-br"
      matInput
      [formControl]="priceFormControl"
      [errorStateMatcher]="matcher"
      placeholder="Ex. R$ 10,00"
    />
    <mat-error *ngIf="priceFormControl.errors">
      Preço é <strong>obrigátorio</strong>, Insira de 0,01 a 9999,99 caracteres
    </mat-error>
  </mat-form-field>

  <!-- Preço Mercado-->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Preço de mercado</mat-label>
    <input
      type="number"
      lang="pt-br"
      matInput
      [formControl]="priceMarketFormControl"
      [errorStateMatcher]="matcher"
      placeholder="Ex. R$ 10,00"
    />
    <mat-error *ngIf="priceMarketFormControl.errors">
      Insira de 0,01 a 9999,99 caracteres
    </mat-error>
  </mat-form-field>

  <!-- Note -->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Observação</mat-label>
    <input
      type="text"
      lang="pt-br"
      matInput
      [formControl]="noteFormControl"
      [errorStateMatcher]="matcher"
      placeholder="Ex. Venda com o conjunto"
    />
    <mat-error *ngIf="noteFormControl.errors">
      Quantidade é <strong>obrigátorio</strong>, Insira de 1 a 9999 caracteres
    </mat-error>
  </mat-form-field>

  <!-- Upload Imagem -->

  <div class="upload-imagem">
    <div>
      <h4>Upload de imagem 1</h4>
      <input
        [formControl]="imageFormControl1"
        type="file"
        capture="environment"
        accept="image/*"
      />
      <mat-error *ngIf="imageFormControl1.errors">
        uma imagem é <strong>obrigátoria</strong>
      </mat-error>
    </div>

    <div>
      <h4>Upload de imagem 2</h4>
      <input [formControl]="imageFormControl2" type="file" accept="image/*" />
    </div>
    <h4>Upload de imagem 3</h4>
    <div>
      <input
        [formControl]="imageFormControl3"
        type="file"
        capture="user"
        accept="image/*"
      />
    </div>
    <h4>Upload de imagem 4</h4>
    <div>
      <input
        [formControl]="imageFormControl4"
        type="file"
        capture="environment"
        accept="image/*"
      />
    </div>
    <h4>Upload de imagem 5</h4>
    <div>
      <input
        [formControl]="imageFormControl5"
        type="file"
        capture="environment/user"
        accept="image/*"
      />
    </div>
  </div>
</form>

<div class="back-button-container">
  <button mat-fab color="primary" (click)="goBack()" aria-label="add button">
    <mat-icon>clear</mat-icon>
  </button>
</div>
