<form [formGroup]="productForm" class="form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      [errorStateMatcher]="matcher"
      placeholder="Ex. pat@example.com"
    />
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error
      *ngIf="productForm.hasError('email') && !productForm.hasError('required')"
    >
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="productForm.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>

<div class="back-button-container">
  <button mat-fab color="primary" (click)="goBack()" aria-label="add button">
    <mat-icon>clear</mat-icon>
  </button>
</div>
