<mat-grid-list
  class="container"
  [cols]="breakpoint"
  rowHeight="450px"
  (window:resize)="onResize($event)"
>
  <mat-grid-tile *ngFor="let product of products">
    <mat-card class="example-card">
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>{{ product.fullName }}</mat-card-subtitle>

      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />

      <mat-card-title>
        {{ product.price | currency: "BRL" }}
      </mat-card-title>
      {{ product.marketPrice | currency: "BRL" }}

      <small>valor de mercado</small>

      <mat-card-content>
        {{ product.description }}
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary">Comprar</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
