<app-ecommerce-header></app-ecommerce-header>

<div class="container" *ngIf="products$ | async as products; else loading">
  <div class="card-box">
    <mat-card class="card" *ngFor="let product of products">
      <mat-card-title class="card-title">{{ product.name }}</mat-card-title>
      <mat-card-subtitle>{{ product.name }}</mat-card-subtitle>
      <div class="div__image">
        <img
          class="mdc-card__media"
          *ngIf="!product.images"
          src="assets\ecommerce\semimagem.png"
          alt="sem imagem"
        />
        <img
          class="mdc-card__media"
          *ngFor="let image of product.images"
          src="{{ 'data:image/jpg;base64,' + image.image }}"
          alt="Photo of a Shiba Inu"
        />
      </div>

      <mat-card-title>
        {{ product.price | currency : "BRL" }}
      </mat-card-title>
      {{ product.priceMarket | currency : "BRL" }}

      <small>valor de mercado</small>

      <mat-card-content>
        {{ product.note }}
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-raised-button
          [disabled]="product.inCart"
          (click)="addInCartShopping(product)"
          color="primary"
        >
          {{ product.inCart ? "No Carrinho" : "Comprar" }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!--Loading-->
<ng-template #loading>
  <app-mat-spinner-overlay></app-mat-spinner-overlay>
</ng-template>
