.div__image {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.mdc-card__media {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
.mdc-card__sem__media {
  width: 100%;
}
